<footer>
    <div class="footertext">
        <span><a href="{{ '/' | relative_url }}">Home</a></span>
        <span><a href="{{ '/reihe' | relative_url }}">Reihe</a></span>
        <span><a href="{{ '/beirat' | relative_url }}">Beirat</a></span>
        <span><a href="https://www.galerie-der-abseitigen-kuenste.de/produkt/widersprechen" target="_blank" rel="noopener noreferrer">Store</a></span>
        <span><a href="{{ '/impressum' | relative_url }}">Impressum & Datenschutz</a></span>
        <span>&copy; {{ site.time | date: "%Y" }} <a href="https://www.gadak.de" target="_blank" rel="noopener noreferrer">Galerie der abseitigen Künste</a></span>
    </div>
</footer>