<footer>
    <div class="footertext">
        <span><a href="{{ '/about' | relative_url }}">Über »Sefiroth«</a></span>
        <span><a href="https://www.gadak.de/gdak-shop" target="_blank" rel="noopener noreferrer">Shop (GadaK)</a></span>
        <span><a href="{{ '/impressum' | relative_url }}">Impressum</a></span>
        <span>&copy; {{ site.time | date: "%Y" }} <a href="https://www.gadak.de" target="_blank" rel="noopener noreferrer">Galerie der abseitigen Künste</a></span>
    </div>
</footer>