<!doctype html>
<html lang="de">
<head>
  {% include head.html %}
  <script src="{{ '/static/js/spotposition.js' | relative_url }}" defer></script>
  <script src="{{ '/static/js/circleclick.js' | relative_url }}"></script>
  <script src="{{ '/static/js/infobox.js' | relative_url }}"></script>
  <script src="{{ '/static/js/appearonhover.js' | relative_url }}"></script>
  <script src="{{ '/static/js/idlePrompt.js' | relative_url }}"></script>
</head>
<body>
  <div class="container">
    <header>
      <a href="{{ '/about' | relative_url }}">
        <img class="textlogo sefirothlogo" src = "{{ '/resources/images/sefi-textlogo.svg' | relative_url }}"/>
      </a>
<!--  <h2 class="booktitle" id="ti01"> 01: PASOLINI/VITALI </h2>
    <h2 class="booktitle" id="ti02"> 02: BLANCHOT/SETTER </h2> -->
  </header>
  <div class="imagecontainer">
    <img class="tree" src="{{ '/resources/images/sefiroth-tree.png' | relative_url }}">
    <svg class="spot" id="circle02" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <image href="{{ '/resources/images/circle02.png' | relative_url }}" width="100" height="100" pointer-events="none"/>
      <circle cx="50" cy="50" r="50" fill="transparent" pointer-events="all" onclick="handleClick('circle02')"/>
    </svg>
    <svg class="spot" id="circle01" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <image href="{{ '/resources/images/circle01.png' | relative_url }}" width="100" height="100" pointer-events="none"/>
      <circle cx="50" cy="50" r="50" fill="transparent" pointer-events="all" onclick="handleClick('circle01')"/>
    </svg>
    {% assign book = site.books %}
    {% for book in site.books %}
    <div class="infobox" id="{{ book.categories }}">        
      <div class="bookinfo">
        <h1 class="pagetitle"> {{ book.authors-short }}</h1><br>
        <h1 class="pagetitle"> {{ book.title }} </h1>
      </div>
      <!-- <img class="ibimage" src="{{ book.image | relative_url }}" alt="{{ book.title }} image"><br> -->
      <br>
      <p class="bookcontent published">{{ book.published }}</p>
      <br>
      <div class="bookcontent">
       <p>{{ book.shorttext }}</p>
       <a href="{{ book.url | relative_url }}">Mehr</a>
    </div>
    </div>
    {% endfor %}
    <div class="sefiinfo bookcontent">        
      {{ content }}
      <a href="{{ '/about' | relative_url }}">Mehr</a>
    </div>
  </div>
  {% include footer.html %}
</div>
<div id="idlePrompt" class="idle-prompt">
  Tippe auf das <em>Sefiroth</em>-Logo, um etwas über diese Seite zu erfahren, oder auf eine farbige <em>Sefirah</em>, um mehr zu entdecken.
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>


