<!doctype html>
<html lang="de">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ '/static/book.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    <div class="imgcontainer" style="background-image: url('/resources/images/{{ page.categories[0] }}.png')">
      <!-- <img class="bookimg" src="{{ page.backimage | relative_url }}" alt="{{ page.title }} image"> -->
    </div>
    <div class="columnleft">
    </div>
    <div class="bookcontainer">
      <div class="bookinfo">
        <h1 class="pagetitle">{{ page.title }}</h1>
      </div>
      <div class="bookcontent">
        {% if page.image %}
       <img src="{{ page.image | relative_url }}" alt="{{ page.title }} image">
       {% endif %}
       {{ content }}
     </div>
   </div>
 </main>
 {% include footer.html %}
</body>
</html>