<!doctype html>
<html lang="de">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div class="imgcontainer" style="background-image: url('/resources/images/{{ page.categories[0] }}.png')">
      <!-- <img class="bookimg" src="{{ page.backimage | relative_url }}" alt="{{ page.title }} image"> -->
    </div>
    <div class="columnleft">
    </div>
    <div class="bookcontainer">
      <div class="bookinfo">
        <h1 class="pagetitle">{{ page.title }}</h1>
      </div>
      <div class="bookcontent">
       {{ content }}
     </div>
     {% if post.audio %}
     <audio controls>
      <source src="{{ page.audio | relative_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio> 
      {% endif %}
      {% if post.video %}
      <video controls>
        <source src="{{ page.video | relative_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
        {% endif %}
      </div>
    </main>
    {% include footer.html %}
  </body>
  </html>