<!doctype html>
<html lang="de">
<head>
  {% include head.html %}
  {% include posthead.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div class="imgcontainer" style="background-image: url('/resources/images/{{ page.categories[0] }}.png')">
      <!-- <img class="bookimg" src="{{ page.backimage | relative_url }}" alt="{{ page.title }} image"> -->
    </div>
    <div class="columnleft">
    </div>
    <div class="bookcontainer">
      <div class="bookinfo">
        <h1 class="pagetitle">{{ page.title }}</h1>
      </div>
      <div class="bookcontent">
       {{ content }}
     </div>
     {% if post.pdf and post.pdf != "" %}
        <a href="{{ post.pdf | relative_url }}" target="_blank" rel="noopener noreferrer">{{ post.pdftitle }}</a><br>
        {% endif %}
        {% if post.audio and post.audio != "" %}
        <audio controls>
          <source src="{{ post.audio | relative_url }}" type="audio/mpeg">
          Your browser does not support this audio element.
        </audio> 
        {% endif %}
        {% if post.video and post.video != "" %}
        <video controls>
          <source src="{{ post.video | relative_url }}" type="video/mp4">
          Your browser does not support this video element.
        </video> 
        {% endif %}
      </div>
    </main>
    {% include footer.html %}
  </body>
  </html>